<!DOCTYPE html><html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="refresh" content="3;url=http://mycrypto.duckdns.org:4000" />

<head>
<link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
<title><center>Crypto Server>/center></title>
<h1>
<center>
Cryptocoin Data Server<br>
</center>
</h1>
</head>
<body  onload='process()'>

<div class="container">
   <br><center>
Nothing to see here!!!
   </center>
   <br><br>
   <hr>
<footer>
      <p><center>Getting rich the lazy way &copy; 2021</center></p>
   </footer>
</div> 
</body>
</html>